body {
	background: #F1F1F1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.hidden {
	display: none;
}
.people .list {
	clear: both;
}
.people .person {
	border: 1px solid #787878;
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin: 0 5px 5px 0;
}
.people .person .name {
	font-size: 11px;
}
.people .nav div {
	float: left;
}
.people .nav div:first-child {
	margin-right: 10px;
}

.header {
	margin-bottom: 10px;
}

.list div {
	position: relative;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
}
.list div img {
	margin-top: 10px;
}
.list div button {
	position: absolute;
	border: none;
	background: none;
	right: 4px;
	top: 7px;
	cursor: pointer;
}
.list div button:before {
	content: "\2718";
}

.log {
	background: #FFF;
	position: absolute;
	left: 200px;
	top: 10px;
	width: 60%;
}

button.clean-gray {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	color: #333;
	font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 150px; }
button.clean-gray:hover {
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
	background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: linear-gradient(top, #dddddd, #bbbbbb);
	border: 1px solid #bbb;
	border-bottom: 1px solid #999;
	cursor: pointer;
	text-shadow: 0 1px 0 #ddd; }
button.clean-gray:active {
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }
