.hidden {
	display: none;
}
ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #afafaf;
}
li {
	list-style-type: none;
	border-bottom: 1px solid #afafaf;
	padding: 0px 0px 5px 0px;
}
.syntaxhighlighter .toolbar {
	display: none;
}