$global-bg-color: #DBDBDB;
$global-font: Lato, Helvetica, sans-serif;
$global-font-size: 90%;
$global-radius: 5px;
$global-font-color: #1F1F1F;

$nav-link-color: #000;
$main-link-color: #0095B9;
$button-link-color: #000;

$color-font-note: #464646;

$menu-width: 250px;

$bg-opacity: 0.3;

$text-shadow-color: #D1D1D1;

@mixin global-shadow {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
}
@mixin transition($tag, $time) {
	-webkit-transition:$tag $time ease-out;
	-moz-transition:$tag $time ease-out;
	-o-transition:$tag $time ease-out;
	transition:$tag $time ease-out;
}
@mixin opacity($value) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($value*100)}";
	filter: alpha(opacity=$value*100); 	 /* IE */
    -khtml-opacity: $value;              /* khtml, old safari */
    -moz-opacity: $value;                /* mozilla, netscape */
    opacity: $value;                     /* fx, safari, opera */
}
@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
      -ms-border-radius: $rad;
       -o-border-radius: $rad;
          border-radius: $rad;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
::-moz-selection { background: #5268BE; color: #fff; text-shadow: none; }
::selection { background: #5268BE; color: #fff; text-shadow: none; }
a:hover, a:active { outline: 0; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
