@import "reset";
@import "base";

body, html {
	background: url("../../images/linen-white.jpg") repeat fixed;
	font-family: $global-font;
	font-size: $global-font-size;
	text-shadow: $text-shadow-color 0 1px 0;
}

header, section, nav {
	margin-bottom: 30px;
}

#bg {
	position: fixed;
    height: 100%;
    width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFF,  #000); /* for firefox 3.6+ */
    filter: alpha(opacity=$bg-opacity-100); /* internet explorer */
    -khtml-opacity: $bg-opacity;      /* khtml, old safari */
    -moz-opacity: $bg-opacity;       /* mozilla, netscape */
    opacity: $bg-opacity;           /* fx, safari, opera */
}

#container {
    position: relative;
	padding: 20px;
}

#nav {
    width: $menu-width;
    float: left;
}

#content {
    margin-left: $menu-width;
    position: relative;
}

.code {

}

header h1 {
	font-weight: 900;
	font-size: 250%;
}

section h1, nav h1 {
	font-weight: bold;
	font-size: 180%;
	margin-bottom: 10px;
}

section h2 {
	font-weight: bold;
	font-size: 130%;
	margin-bottom: 10px;
}

section p {
	margin-bottom: 10px;
}

nav ul {
	padding-left: 30px;
}
nav li {
	margin-bottom: 5px;
}
nav a {
	text-decoration: none;
	color: $global-link-color;
}
nav a:hover {
	text-decoration: underline;
}

/*TUTORIAL*/

.log {
	font-size: 0.9em;
	border: 1px solid black;
	height: auto;
	overflow: auto;
	padding: 5px;
}

/*div .code {*/
	/*background-color: #FFF;*/
/*}*/

@import "media-query";
@import "helpers";
@import "print";
