@import "reset";
@import "base";
@import "transitions";

body, html {
	background: url("../../images/linen-white.jpg") repeat fixed;
	font-family: $global-font;
	font-size: $global-font-size;
	text-shadow: $text-shadow-color 0 1px 0;
}

header, section, nav {
	margin-bottom: 30px;
}

#bg {
    @include opacity($bg-opacity);
	position: fixed;
    height: 100%;
    width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFF,  #000); /* for firefox 3.6+ */



    /*filter: alpha(opacity=$bg-opacity-100); *//* internet explorer */
    /*-khtml-opacity: $bg-opacity;      *//* khtml, old safari */
    /*-moz-opacity: $bg-opacity;       *//* mozilla, netscape */
    /*opacity: $bg-opacity;           *//* fx, safari, opera */
}

#container {
    position: relative;
	padding: 20px;
}

#nav {
    width: $menu-width;
    float: left;
}

#content {
    margin-left: $menu-width;
    position: relative;
}

p {
	line-height: 125%;
}

header h1 {
	font-weight: 900;
	font-size: 250%;
}

section h1, nav h1 {
	font-weight: bold;
	font-size: 180%;
	margin-bottom: 10px;
}

section h2 {
	font-weight: bold;
	font-size: 130%;
	margin-bottom: 10px;
}

section h3 {
	margin-bottom: 10px;
}

section p {
	margin-bottom: 10px;
}

section.hidden {
    display: block;
}

nav ul {
	padding-left: 20px;
}
nav > ul {
	padding-left: 0px;
}
nav li {
    display: block;
	line-height: 160%;
	font-weight: normal;
}
nav li.selected {
	font-weight:bold;
}
nav a {
	text-decoration: none;
	color: $nav-link-color;
}
nav a:hover {
	//text-decoration: underline;
}

section li a, section p a {
	color: $main-link-color;
	font-weight: bold;
	text-decoration: none;
}

/*#button a {*/
	/*color: $button-link-color;*/
	/*font-weight: bold;*/
	/*text-decoration: none;*/
/*}*/

.pointer {
	cursor: pointer;
}

.note {
	font-style: italic;
	font-size: 100%;
	color: #3E3E3E;
}

/*TUTORIAL*/

.log {
    @include global-shadow;
    @include global-radius;
	background: #FFF;
	font-size: 0.9em;
	height: auto;
	overflow: auto;
	padding: 5px;
	background: #F2F2F2;
	text-shadow: none;
	margin-bottom: 20px;
}

.log-count {
	color: #AAA;
	padding-left: 2px;
}

.button {
	@include global-shadow;
}

.log.hidden {
	display: "none";
}

div.code {

}

.codequote {
    font-family: monospace;
	color: #166b36;
	font-size: 110%;
}

.button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.run, .next, .previous {
	margin-bottom: 20px;
}

.next {
	float: right;
}

.step .content {
	margin-bottom: 10px;
}
.step .content ul {
	margin-left: 30px;
}

.CodeMirror {
    @include global-shadow;
    @include global-radius;
	text-shadow: none;
	margin-bottom: 20px;
	background: #F2F2F2;
}
.CodeMirror-gutter {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.CodeMirror-scroll {
	max-height: 400px;
	overflow: auto;
}

.space-around {
	margin-top: 30px;
	margin-bottom: 30px;
}

@import "media-query";
@import "helpers";
@import "print";
