<!DOCTYPE html>
<html>
<head>
	<title>soma-template node.js demo</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css" media="all">
</head>
<body>

<div class="content">
	<h1>Hello {{name}}</h1>
	<ul>
		<li data-repeat="link in links"><a data-href="{{link.url}}">{{link.name}}</a></li>
	</ul>
	<div><a href="https://github.com/somajs/somajs/tree/master/demos/nodejs" target="_blank">Click here to see the source code.</a></div>
</div>

<div class="footer">
	<div>Made with <a href="http://somajs.github.io/somajs">soma.js</a>.</div>
	<div>Using <a href="http://nodejs.org/" target="_blank">node.js</a>, <a href="http://expressjs.com/" target="_blank">express.js</a> and <a href="https://github.com/tmpvar/jsdom" target="_blank">jsdom</a></div>
</div>

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-36294101-3']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>

</body>
</html>