@import "base";

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 800px) {
    #nav {
        float: none;
        width: 100%;
    }
    #content {
        margin-left:  0px;
        position: relative;
    }
    .button + .button {
        margin-left: 5px;
    }
}
